.main {
  background: url("./waves.jpg");
  display: flex;
}

.main-content {
  display: flex;
  flex-direction: column;
  width: 80%;
}

.main-content-content {
  background-color: #fff;
  color: #3b3f40;
  flex: 1;
  padding: 3rem 6rem;
}

.main-title {
  background-color: rgba(1, 80, 136, 0.63);
  color: #fff;
  font-size: 2.666666667rem;
  margin-bottom: 0;
  padding: 15rem 6rem 2rem;
}

/* Tabs */
.tabs {
  background-color: #3b3f40;
  padding: 1rem 6rem 0;
}

.tabs li {
  display: inline-block;
  margin: 0;
}

.tabs a {
  color: #fff;
  border-radius: 2px 2px 0 0;
  display: block;
  font-weight: bold;
  margin-right: 0.5rem;
  padding: 0.5rem 1rem;
  transition: all .15s;
}

.tabs a:hover {
  background-color:#343738;
  text-decoration: none;
}

.tabs a.active {
  background-color: #fff;
  color: #3b3f40;
}

.tabs ul {
  list-style: none;
  margin: 0;
}

/* Main Content */
.main-content-content h1 {
  color: #085a7d;
  font-size: 1.666666667rem;
}
