.main {
  background: url("/waves.jpg");
  display: flex;
}

.main-content {
  width: 80%;
}

.main-content-content {
  background-color: #fff;
  color: #3b3f40;
  padding: 3rem 6rem;
}

.main-title {
  background-color: rgba(1, 80, 136, 0.63);
  color: #fff;
  font-size: 3rem;
  margin-bottom: 0;
  padding: 15rem 6rem 2rem;
}

.main-content-content h1 {
  color: #085a7d;
  font-size: 1.8rem;
}
