header {
  background-color: white;
  border-bottom: 1px solid;
  position: sticky;
  top: 0;
  z-index: 2;
}

header h1 {
  font-size: 1.25rem;
  margin: 0;
}

header a {
  text-decoration: none;
}

.header-inner {
  margin: 0 auto;
  padding: 0.85rem 1.0875rem;
}
