.main-menu {
  font-size: 0.9rem;
  list-style: none;
  margin: 0;
}

.main-menu--large {
  font-size: 1rem;
  padding: 2rem;
}

.menu-child {
  display: none;
}

.menu-child--open {
  display: block;
}

.main-menu .main-menu {
  height: auto;
}
