.main-menu {
  font-size: 0.9rem;
  list-style: none;
  margin: 0;
}

.menu-item {
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
  font-size: 1.1rem;
  font-weight: bold;
  list-style: none;
  padding-bottom: 0.25rem;
  margin-bottom: 0.25rem;
}

.main-menu--large {
  font-size: 1rem;
  padding: 2rem;
}

.menu__icon {
  fill: #fff;
  float: right;
}

.menu__icon--hidden {
  display: none;
}

.menu__icon--shown {
  display: block;
}

.menu-child {
  display: none;
}

.menu-link {
  font-size: 1rem;
  font-weight: bold;
}

.menu-child--open {
  display: block;
}

.main-menu .main-menu {
  height: auto;
}
