.sidebar {
  background-color: #7d7d7d;
  color: #fff;
  flex: 0 1 33%;
  position: relative;
}

.sidebar__inner {
  display: flex;
  flex-direction: column;
  padding: var(--gutter-width);
  top:0;
  position: sticky;
}

@media screen and (min-width: 768px) {
  .sidebar__inner {
    height: 100vh;
  }
}

.sidebar__header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  padding-bottom: var(--gutter-width);
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}

.sidebar__header svg {
  flex: 0 0 2rem;
}

.sidebar__title {
  font-size: 2.75rem;
  margin: 0 auto 0 0;
}

.sidebar__toggle {
  cursor: pointer;
  fill: #fff;
  height: 2rem;
  padding-left: var(--gutter-width);
}

@media screen and (min-width: 767px) {
  .sidebar__toggle {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .sidebar__nav {
    height: 0;
    overflow: hidden;
  }

  .sidebar__nav--open {
    height: auto;
  }
}

.sidebar__footer {
  display: block;
  font-size: 0.65rem;
  margin-top: auto;
  padding-top: 0.75rem;
  text-transform: uppercase;
}

@media screen and (min-width: 768px) {
  .sidebar__footer {
    border-top: 1px solid rgba(255, 255, 255, 0.4);
  }
}
