.sidebar {
  background-color: #1a96ca;
  color: #fff;
  flex: 0 1 33%;
  position: relative;
}

.sidebar__inner {
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding: 2rem;
  position: sticky;
  top:0;
}

.sidebar h1 {
  font-size: 2.75rem;
  margin: 3rem 0 3rem;
  border-bottom: 1px solid;
  padding: 0 0.5rem 3rem;
}

.down-icon {
  cursor: pointer;
  fill: #fff;
  height: 30px;
  float: right;
  margin-top: 0.75rem;
  width: 30px;
}

.sidebar a {
  color: #fff;
}

footer {
  display: block;
  margin-top: auto;
}
